.profile-picture {
  border-radius: 50%;
  border: 2px solid #212529;
}

.page-header {
  background: linear-gradient(to right, #f24827, #2d9bf0, #8fd24f, #fac711);
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-header-icon-wrapper {
  transition: 0.9s;
}

.page-header-icon-wrapper:hover {
  transform: rotateY(180deg);
}

.center {
  text-align: center;
}

.yellow {
  background-color: #fac711;
}

.yellow-text {
  color: #fac711 !important;
}

.red {
  background-color: #f24827;
}

.red-text {
  color: #f24827 !important;
}

.blue {
  background-color: #2d9bf0;
}

.blue-text {
  color: #2d9bf0 !important;
}

.grey-text {
  color: #212529;
}

.green {
  background-color: #8fd24f;
}

.green-text {
  color: #8fd24f !important;
}

.bold-text {
  font-weight: 500;
}

.row.header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row.header.icons {
  margin-top: 40px;
  margin-bottom: 30px;
}

.project-card {
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.project-card-image {
  height: 60px;
  align-items: center;
}

.project-card-action {
  font-weight: 500;
}

.main {
  font-family: "Ubuntu", sans-serif;
  background-color: #212529;
}

.content {
  color: white;
  font-weight: 300;
}

.icon-link:hover {
  color: white !important;
  cursor: pointer;
}
